@media (max-width: 576px) {
  html {
    font-size: 4vw;
  }
}

h1 {
  font-family: 'Paytone One', sans-serif;
}

/* .nav-pills > li > a.active {
  background-color: grey!important;
} */

.nav-pills > li > a.active {
  background-color: white !important;
  color: black !important;
}

.nav-pills > li > a:hover {
  color: white !important;
}

.nav-pills > li > a {
  color: white !important;
}

.nav-link-color {
  color: white;
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
}
